# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Core custom ignores
build/*

# Core python ignores
**/__pycache__/
**/*.pyc
**/*.egg-info 
venv

# jetson_flash ignores
hardware/jetson-flash/*

# clang-tidy fixes
clang-tidy-fixes.yaml
*.mcap
*.bag
*.tar.gz
